In [1]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
for schools in high_schools:
    print(schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school_type in high_school_types:
    print(school_type['High School'])

Griffin
Figueroa
Wilson
Wright

In [3]:
# Add the Pandas dependency.
import pandas as pd
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [4]:
print(school_series[2])

Shelton High School

In [5]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [6]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [7]:
#Initialize a new DataFrame.
schools_df = pd.DataFrame()
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [8]:
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
schools_dict_to_df = pd.DataFrame(high_school_dicts)
schools_dict_to_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [12]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [33]:
for i in range(15):
    print(i)
    
school_index = (i)
school_index

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

14

In [41]:
school_index = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = high_schools
type_school = ["District", "District", "Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]
school_index_df = pd.DataFrame(school_index)
school_index_df
school_name_df = pd.DataFrame(school_name)
school_name_df
type_school_df = pd.DataFrame(type_school)
type_school_df

           0
0   District
1   District
2    Charter
3   District
4    Charter
5    Charter
6    Charter
7   District
8    Charter
9    Charter
10   Charter
11  District
12  District
13  District
14   Charter

In [42]:
pd.read_csv("shools_complete.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'shools_complete.csv'